@include edit();
@font-face {
  font-family: besom_2regular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/besom-handwritten-brush-font-webfont.ttf");
}
@font-face {
  font-family: cabanaregular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cabana-regular-webfont.ttf");
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  margin: 0;
  font-size: 18px;
}
section {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  max-height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
h1 {
  font-family: besom_2regular;
  font-size: 4.5em;
  margin: 0;
  opacity: 0.5;
}
p {
  font-family: cabanaregular;
  font-size: 3em;
  margin: 0;
  opacity: 0.8;
  line-height: 100%;
}
figure {
  margin: 0;
}
.img-responsive {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
nav {
  background-color: rgba(227,237,191,0.8);
  padding: 15px 15px 15px 0;
  text-align: right;
  font-family: besom_2regular;
  font-size: 1.2em;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
nav a {
  text-decoration: none;
  color: #99b768;
  margin: 0 10px;
}
nav a:last-child {
  margin-right: 60px;
}
nav a:hover {
  color: #6e725d;
}
.center {
  text-align: center;
}
/*********************************
Section Home
*********************************/
.logo {
  position: absolute;
  margin-top: 50px;
  z-index: 9999;
  margin-left: 12px;
  display: block;
}
.bg-home {
  background-size: 100% 100%;
/*background-image url("../img/home.png")*/
}
.bg-triangle {
  background-color: #8eca5c;
  background-image: url("../../img/triangle-home.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.home-flower {
  width: 100%;
  text-align: center;
  top: -50px !important;
}
.home-model-01 {
  top: 122px !important;
  left: 151px !important;
}
.home-model-02 {
  right: -145px !important;
  text-align: right;
  top: -50px !important;
}
/*********************************
Section Quem Somos
*********************************/
.bg-quem-somos {
  background-size: 100%;
  background-image: url("../../img/bg-quem-somos.jpg");
}
.bg-quem-somos aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 27.9%;
  margin-left: 0%;
  margin-right: 3%;
}
.bg-quem-somos aside:before,
.bg-quem-somos aside:after {
  content: '';
  display: table;
}
.bg-quem-somos aside:after {
  clear: both;
}
.bg-quem-somos aside:last-child {
  margin-right: 0%;
}
.bg-quem-somos article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 69.1%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 45px;
  box-sizing: border-box;
}
.bg-quem-somos article:before,
.bg-quem-somos article:after {
  content: '';
  display: table;
}
.bg-quem-somos article:after {
  clear: both;
}
.bg-quem-somos article:last-child {
  margin-right: 0%;
}
.quem-somos-cactus {
  width: 100%;
  text-align: right;
}
.quem-somos-cactus img {
  top: -250px;
  width: 150%;
}
/*********************************
Section Portfólio
*********************************/
.preloader {
  width: 100%;
  height: 100%;
}
.portifolio-logo {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1000;
  position: absolute;
  cursor: pointer;
}
.portifolio-logo:hover h1 {
  color: #f90;
}
.blocktop {
  background-color: #e6e8bd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: 10;
  transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
}
.blockbottom {
  background-image: url("../../img/bg-portifolio.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: -50%;
  transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
}
.bg-portifolio {
  background-image: url("../../img/bg-portifolio2.jpg");
  background-color: #000;
  background-size: 100% 100%;
}
.portifolio-font {
  width: 100%;
  text-align: center;
}
.portifolio-font h1 {
  font-size: 6em;
  margin-top: 120px;
}
.portifolio-elephant {
  width: 100%;
  text-align: center;
}
.portifolio-elephant img {
  width: 66%;
  margin-left: 40px;
}
.portifolio-row-one {
  *zoom: 1;
  width: auto;
  max-width: 300px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.portifolio-row-one:before,
.portifolio-row-one:after {
  content: '';
  display: table;
}
.portifolio-row-one:after {
  clear: both;
}
.portifolio-row-two {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: -50px;
}
.portifolio-row-two:before,
.portifolio-row-two:after {
  content: '';
  display: table;
}
.portifolio-row-two:after {
  clear: both;
}
.portifolio-row-two a {
  margin: 0 70px;
  display: inline-block;
}
.portifolio-row-three {
  *zoom: 1;
  width: auto;
  max-width: 300px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: -50px;
}
.portifolio-row-three:before,
.portifolio-row-three:after {
  content: '';
  display: table;
}
.portifolio-row-three:after {
  clear: both;
}
.portifolio-content {
  width: 100%;
  position: absolute;
  padding-top: 50px;
}
.portifolio-content img {
  max-height: 220px;
}
/*********************************
Geral
*********************************/
.rotacionar {
  transform: rotate(45deg);
}
.hoverimg figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
/*********************************
Section Colecao
*********************************/
.colecao-logo {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1000;
  position: absolute;
  cursor: pointer;
}
.colecao-logo:hover h1 {
  color: #008000;
}
.blocktop2 {
  background-color: #f2f3ed;
  border-right: solid 2px #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: 10;
  transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
}
.blockbottom2 {
  background-color: #e8e9e4;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: -50%;
  transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
}
.bg-colecao {
  background-size: 100%;
  background-image: url("../../img/bg-colecao2.jpg");
}
.bg-colecao h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  color: #e1176c;
  opacity: 1;
}
.bg-colecao p {
  padding-left: 20px;
  border-left: solid 2px #000;
  transform: translateY(20%);
  position: absolute;
  width: 30%;
  right: 50px;
}
.bg-colecao .colecao-mouse {
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.bg-colecao #p-colecao {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 800px;
}
.bg-colecao #p-colecao li {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg-colecao #p-colecao li:first-child img {
  margin-left: -50px;
  margin-top: 10px;
}
.bg-colecao #p-colecao li:last-child {
  text-align: right;
}
.bg-colecao #p-colecao li:last-child img {
  top: 70%;
  position: relative;
}
.colecao-row {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: -50px;
  display: block;
}
.colecao-row:before,
.colecao-row:after {
  content: '';
  display: table;
}
.colecao-row:after {
  clear: both;
}
.colecao-row figure {
  margin: 0 70px;
  display: inline-block;
}
.colecao-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 85px;
}
.colecao-content img {
  max-height: 190px;
}
.colecao-content h2 {
  font-family: cabanaregular;
  font-size: 2em;
  opacity: 0.5;
  margin-bottom: 120px;
  letter-spacing: 4px;
}
.colecao-content h2 a {
  text-decoration: none;
}
.colecao-content h2 a:hover {
  text-decoration: underline;
}
/*********************************
Section Contato
*********************************/
.bg-contato {
  background-size: 100%;
  background-image: url("../../img/bg-pattern-contato.jpg");
  overflow: hidden;
}
.bg-contato .contato-logo {
  position: absolute;
  top: -56px;
  left: 50%;
  transform: translateX(-50%);
}
.bg-contato aside {
  transform: translateY(100%);
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.bg-contato aside:before,
.bg-contato aside:after {
  content: '';
  display: table;
}
.bg-contato aside:after {
  clear: both;
}
.bg-contato aside:last-child {
  margin-right: 0%;
}
.bg-contato aside form {
  width: 68%;
  margin: 0 auto;
}
.bg-contato aside form input,
.bg-contato aside form textarea {
  background-color: #8da95f;
  width: 100%;
  border: none;
  padding: 0 8px;
  margin: 0px 0 8px 21px;
  box-sizing: border-box;
  font-family: cabanaregular;
  font-size: 1.9em;
  color: #fff;
}
.bg-contato aside form button {
  width: 100%;
  background: #8eca5c;
  font-size: 1.3em;
  border: none;
  color: #fff;
  font-family: cabanaregular;
  margin-left: 23px;
  cursor: pointer;
  letter-spacing: 2px;
}
.bg-contato aside form button:hover {
  background-color: #fff;
  color: #8eca5c;
}
.bg-contato article {
  transform: translateY(100%);
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding-left: 75px;
  padding-right: 140px;
  box-sizing: border-box;
}
.bg-contato article:before,
.bg-contato article:after {
  content: '';
  display: table;
}
.bg-contato article:after {
  clear: both;
}
.bg-contato article:last-child {
  margin-right: 0%;
}
.bg-contato article h1 {
  font-size: 2.15em;
  color: #fff;
  margin-top: 20px;
  opacity: 1;
}
.bg-contato article p {
  color: #fff;
  font-size: 2em;
  margin-top: 3px;
  letter-spacing: 6px;
  line-height: 50px;
  opacity: 1;
}
/*********************************
Animação
*********************************/
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.animated-2 {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.swing {
  transform-origin: top center;
  animation-name: swing;
}
.swing-2 {
  transform-origin: top right;
  animation-name: swing;
}
.swing-3 {
  transform-origin: top center;
  animation-name: giro;
}
@-moz-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes giro {
  0% {
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0.9, 1);
  }
}
@-webkit-keyframes giro {
  0% {
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0.9, 1);
  }
}
@-o-keyframes giro {
  0% {
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0.9, 1);
  }
}
@keyframes giro {
  0% {
    transform: scale(0.9, 1);
  }
  50% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0.9, 1);
  }
}
